<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAskToLogOut()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="user">
    <div id="profile-header">
      <img class="profile-photo" [src]="user.photoURL ? (user.photoURL | async ): 'assets/images/defaultSong.jpg'">  
      <ion-fab>
        <ion-fab-button (click)="selectImageSource()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <h1>{{user.displayName}}</h1>
    <div id="profile-information">
      <div class="profile-item">
        <i class="fas fa-user-circle blue"></i>
        <ion-input #displayName [ngModel]="user.displayName" class="input" type="text" [disabled]="nameEditionMode" ></ion-input>
        <i class="fas"  [ngClass]="{'fa-pen': nameEditionMode, 'fa-save': !nameEditionMode}" (click)="onUpdateDisplayName(displayName.value)"></i>
      </div>
      <hr class="separator">
      <div class="profile-item">
        <i class="fas fa-envelope blue"></i>
        <ion-input #email [ngModel]="user.email" class="input" type="email" [disabled]="emailEditionMode" ></ion-input>
        <i class="fas" [ngClass]="{'fa-pen': emailEditionMode, 'fa-save': !emailEditionMode}" (click)="onUpdateEmail(email.value)"></i>
      </div>
      <hr class="separator">
      <div class="profile-item">
        <i class="fas fa-phone blue"></i>
        <ion-input [ngModel]="user.phoneNumber" class="input" type="number" [disabled]="phoneNumberEditionMode" ></ion-input>
        <i class="fas" [ngClass]="{'fa-pen': phoneNumberEditionMode, 'fa-save': !phoneNumberEditionMode}" (click)="this.phoneNumberEditionMode = !this.phoneNumberEditionMode"></i>
      </div>
    </div>  
    <p>¿No te agrada la aplicación?<span (click)="onDeleteAccount()">Eliminar cuenta</span></p>
  </div>  
</ion-content>
