<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Buscador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Busca lo que quieras escuchar</h1>
    <div class="search-box">
      <i class="fas fa-search"  (click)="search()"></i>
      <input class="search-txt" type="text" placeholder="Canciones o artistas" [(ngModel)]="searchText" (ngModelChange)="onResetIcon()">
      <i *ngIf="resetSearch" class="fas fa-times"  (click)="onCleanSearchBar()"></i>
    </div>  
    <h1>Últimos lanzamientos</h1>
    <app-song-item  *ngFor="let song of songs" [song]="song"></app-song-item>
    <span *ngIf="songs && moreSongsExist"(click)="requesNextBatch()">Más canciones</span>
    <h3 *ngIf="!songs">"No hay canciones descargadas"</h3>
  </div>
</ion-content>
