<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Buscador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Busca lo que quieras escuchar</h1>
    <app-search-bar (notifySearchPage)="showSearchRequest($event)" (resetSearchPage)="resetSearchPage($event)"></app-search-bar> 
    <div *ngIf="!noSearch">
      <h1 >Últimos lanzamientos</h1>
      <app-song-item  *ngFor="let song of songs" [song]="song"></app-song-item>
      <span *ngIf="songs && moreSongsExist"(click)="requesNextBatch()">Más canciones</span>
      <h3 *ngIf="!songs">"No hay canciones descargadas"</h3>
    </div>
    <div *ngIf="noSearch && noResults">
      <app-song-item  *ngFor="let song of resultSongs" [song]="song"></app-song-item>
    </div>
    <div class="no-results"*ngIf="noSearch && !noResults">
      <i class="far fa-frown"></i>
      <h2>No hay resultados para "{{searchText}}"</h2>
      <p>Asegurate de que las palabras estén escritas correctamente o escribe menos palabras</p>
    </div>
  </div>
</ion-content>
