<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- <i class="fas fa-door-open"></i>   -->
    <img class="password" src="assets/images/password.png">
    <form>
      <h4>Ingresa tu correo electrónico</h4>
      <ion-input type="email" [(ngModel)]="email" placeholder="Correo electrónico"></ion-input>
      <ion-button mode="ios" [disabled] = "!email" (click)="onResetPassword()">Enviar link</ion-button>
    </form>
  </div>
</ion-content>
