ion-content{
    .container{
        justify-content:unset;
        form{
            margin-top: calc(100vh*0.1);
        }
        .password{
            margin-top: calc(100vh*0.065);
            width: calc(100vh*0.21)
        }
    }
}