ion-content :host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.fa-address-card{
    margin-top: calc(100vh*0.045727) ;
    color: #F2F2F2;
    font-size: calc(100vh*0.21);
}
div{
    ion-input{
        --background: #AE37E5;
        border-radius: 4px;
        margin-top:calc(100vh*0.043478);
        --padding-start: 10px;
        width: var(--input-with);
        height:  44.8px;
     
    }
 
    ion-button{
        --background: #F2F2F2;
        margin: 27px 0px 4px 0px;
        color: black;
        display: flex;
        --border-radius: 4px    ;
        --background-activated: #707070; 
        --background-focused: #707070; 
        --background-hover: #707070;
    }
}
p{
    font-size: 13px;
    margin: 3.5% 0px;
    span{
        color:#AE37E5;
        text-decoration: underline;
        padding-left: 2px;
    }
}
.separator-container{
    display: flex;
    align-items: center;
    .separator{
        width: calc((var(--input-with) - 99.69px) / 2) ;
        height: 1px;
        margin-right: auto;
        margin-left: auto;
        background-color:#666
    }
    p{
        padding: 0px 4px;
    }
}
