.search-box{
    border-radius: 16px;
    border-color: #AE37E5;
    border-width: 3px;
    border-style: solid;
    padding: 0px calc(100vw * 0.015);
    width: calc(100vw*0.797);
    margin: 4px 0px;
}

.search-txt{
    margin-left: 6px;
    width: 85%;
    border:none;
    background: none;
    outline: none;

}