:host{

        height: calc(100vh * 0.42);
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    h3{
    color:black;
    }
    ion-label{
        --color: black;
    }
}