.container{
  justify-content: unset;
  .playing-item{
    background-color: #707070;
    width: calc(100vw*0.797);
    border-radius: 9px;
    display: flex;
    margin: 5px 0px;

    #song-information{
      font-size: calc(100vh*0.022);
      margin-left: calc(100vw*0.05);
      display:flex;
      flex-direction: column;
      p{
        margin-left: 16px ;
      }

      #artist-information{
        margin: 0px 0px;
        color: #331143;
        margin-left: 16px;
      }
      ion-range{
        width: calc(100vw*0.5);
        --knob-size:0px;
        --bar-background: #611F80;
        --bar-background-active: #331143 ;
       
      }
      .range-disabled{
        opacity: unset;
      }
     
    }

  }
}
