<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <h1>Reproduciendo</h1>
    <div *ngIf="currentSong" class="playing-item">
      <div class="song-image">
        <img [src]="currentSong?.photoURL? currentSong.photoURL :'assets/images/defaultSong.jpg'">
        <!-- <ion-button (click)="start(currentSong)">></ion-button> -->
      </div>
      <div id="song-information">
        <p>{{currentSong.name}}</p>
        <p id="artist-information" *ngFor="let artist of currentSong.artists">{{artist}}</p>
        <ion-range #range  max="100" [(ngModel)]="progress" >
          <ion-label  slot="start">{{formatTime(currentSong.currentTime)}}</ion-label>
          <ion-label  slot="end">{{ formatTime(currentSong.duration) }}</ion-label>
        </ion-range>
      </div>
    </div>
    <h1 (click)="onViewEntirePlaylist()">Siguiente en la lista de reproducción</h1>
    <div *ngFor="let playlistItem of playlist, let i=index">
      <app-playlist-item [track]="playlistItem" [index]="i"></app-playlist-item>
    </div>
  </div>
</ion-content>
