ion-content{
    --background: #331143;
    .logo-container{
        display: flex;
        justify-content: center;
        margin-top:calc(0.06*100vh);
        img{
            padding: 10px;
            border-radius: 19px
        }
    }
    h1{
        color: #FFFFFF; 
        font-style: italic;
        font-size: 39px;
        display: flex;
        justify-content: center;
    }
    #ulpgc-logo{
        margin-top:calc(0.1*100vh) ;
        padding: 0px 10px;
    }
}