<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <i class="fas fa-door-open"></i>
    <form>
      <ion-input type="email" [(ngModel)]="user.email" placeholder="Correo electrónico"></ion-input>
      <app-password-input (passwordCompleted)="getPassword($event)"></app-password-input>
      <ion-button mode="ios" [disabled] = "onCheckFields()" (click)="onSignIn()">Iniciar sesión</ion-button>
    </form>
    <p>¿Olvidaste tu contraseña? <span (click) ="onResetPassword()">Recuperar contraseña</span></p>
    <div class="separator-container">
      <hr class="separator">
      <p>O registrate con</p>
      <hr class="separator">
    </div>
    <div class="buttons-container">
      <div><i (click)="onSignInWith()"class="fab fa-google"></i></div>
      <div><i (click)="onSignInWith()" class="fab fa-facebook"></i></div>
    </div>
    <p>¿Todavía no tienes una cuenta? <span (click)="onSignUp()">Regístrate</span></p>
  </div>
</ion-content>
