.playlist-item{
    background-color: #707070;
    width: calc(100vw*0.797);
    border-radius: 9px;
    display: flex;
    margin: calc(100vw*0.02) 0px;

    .track-information{
        // margin-left: calc(100vw*0.05);
        flex-basis: calc(100vw*0.4);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        font-size: calc(100vh*0.022);
        p{
            margin: calc(100vw*0.02) 0px;
        }
        #artist-details{
            margin: 0px 0px;
            color: #331143;
            // margin-left: 16px;
          }
        .track-details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin:0px;
            }
            p,i{
                color:#331143 ;
            }
            i{
                font-size:calc(100vw*0.0559);
            }
        }
    }
}