.container{
    justify-content: initial;
    align-items: center;
    h2{
        color: #FFFFFF; 
        font-style: italic;
        font-size: 35px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    p{
        text-align: center;
    }
}
